/* COLORS */
:root {
  --primary: rgba(2, 164, 236, 1);
  --primary-light: rgba(2, 164, 236, 0.7);

  --brown: rgb(75, 46, 14);
  --brown-light: rgb(75, 46, 14, 0.8);

  --dark-blue: rgba(0, 100, 255, 1);
}

/* MOBILE */
:root {
  --mobile-background: url("media/background-texture.png"),
    url("media/background-texture.png"),
    linear-gradient(
        to bottom,
        var(--brown) 0%,
        var(--brown-light) 15%,
        var(--primary) 30%,
        var(--dark-blue) 70%
      )
      fixed;

  --mobile-h1: 2.5rem;
  --mobile-h2: 2rem;
  --mobile-h3: 1.5rem;
}

/* ABOVE MOBILE (STANDARD) */
:root {
  --desktop-background: url("media/background-texture.png"),
    url("media/background-texture.png"),
    linear-gradient(
        to bottom,
        var(--brown) 0%,
        var(--brown-light) 20%,
        var(--primary) 45%,
        var(--dark-blue) 80%
      )
      fixed;

  --desktop-h1: 4.75rem;
  --desktop-h2: 3rem;
  --desktop-h3: 2rem;
}
