/* COLORS */
:root {
	--primary: rgba(2, 164, 236, 1);
  --primary-light: rgba(2, 164, 236, 0.7);
  
	--secondary: rgba(141, 89, 29, 1);
  --secondary-light: rgb(141, 89, 29, 0.8);
  
  --dark-blue: rgb(35, 85, 248);
}

/* MOBILE */
:root {
	--mobile-background: linear-gradient(
			to bottom,
			white 0%,
			var(--secondary) 0%,
			var(--secondary-light) 20%,
      var(--primary-light) 40%,
      var(--primary) 75%,
      var(--dark-blue) 100%
		)
		fixed;

	--mobile-h1: 2.5rem;
	--mobile-h2: 1.75rem;
	--mobile-h3: 1.4rem;
}

/* ABOVE MOBILE (STANDARD) */
:root {
	--desktop-background: linear-gradient(
			to bottom,
			var(--secondary) 0%,
			var(--secondary-light) 20%,
			var(--primary-light) 40%,
      var(--primary) 65%,
      var(--dark-blue) 100%
		)
		fixed;

	--desktop-h1: 5rem;
	--desktop-h2: 3rem;
	--desktop-h3: 2rem;
}
